<div *ngIf="loading" style="display: flex; justify-content:center; align-items:center;">
  <img alt="Yoma logo description" src="../../assets/images/yoma.jpg" style="max-width: 60%;">
</div>
<div class="layout-container" style="padding: 35px; text-align: center;">
  <div>
    <div class="category-title">
      <h2><a href="#home" style="text-decoration: none; cursor: pointer;">Home</a> /   {{ categoryName }}</h2>
    </div>
      <div class="layout search-detail-container layout--stack-small layout--gutters" style="display: block;">
          <div id="list" class="layout--size-auto">
              <div style="color: red;">{{this.errorMessage}}</div>
              <div class="pagination-grid">
                  <ul class="grid grid--small-gutters main-section">
                      <li class="grid-item custom-styles" *ngFor="let product of products"
                          style="flex-grow: 0; flex-basis: auto;">
                          <div class="card detail-card product-detail-card" style="min-width: 168px;">
                              <span class="card-aspect-padding" style="padding-top: 148.81%;"></span>
                              <div class="card-content">
                                  <div class="clickable link detail-card-link clickable--size-inline">
                                      <div class="card-image" tabindex="-1" data-test="cardImage">
                                          <img alt="{{product.name}}" class="img loaded"
                                              src="../../assets/images/Products/{{product.coverImage}}">
                                      </div>
                                      <div class="card-body">

                                          <div class="pill-wrapper-hide"></div>
                                          <h1 data-test="granulatedsugar" class="title-3 detail-card-description"
                                              style="margin-top: 25px;">
                                              {{product.englishName}}
                                          </h1>
                                          <h1 data-test="granulatedsugar" class="title-3 detail-card-description"
                                              style="margin-top: 25px;">
                                              {{product.arabicName}}
                                          </h1>
                                          <div class="stock-status-container">
                                              <div class="stock-status-description unknownstock">
                                                  <div class="circle" aria-hidden="true">
                                                  </div>
                                                  <span data-test="UNKNOWNSTOCK"
                                                      class="title-4 stock-status-stock">*</span>
                                              </div>
                                          </div>
                                      </div>
                                       <!-- Legend for Green Border -->
                                       <div class="legend">
                                          <span class="legend-green"></span> Our Choice
                                      </div>

                                      <!-- Legend for Red Border -->
                                      <div class="legend">
                                          <span class="legend-red"></span> On Sale By Supermarket
                                      </div>

                                      <div class="container">
                                          <table class="product-table">
                                              <thead>
                                                  <tr>
                                                      <th>SUPERMARKET</th>
                                                      <th>PRICE</th>
                                                      <th>Shopping List</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <!-- Sample Product Row -->
                                                  <tr [class.green-border]="price.isLowest" [class.red-border]="price.isReward" class="product-row"
                                                      *ngFor="let price of product.prices">
                                                      <td>{{price.supermarketName}}</td>
                                                      <td>{{price.value}}&nbsp;EGP</td>
                                                      <td (click)="addToBasket($event, product, price)"
                                                          style="pointer-events: auto;">
                                                          <button class="add-to-basket-btn">
                                                              <img style="width: 35px;"
                                                                  src="../../assets/images/cart-plus-solid.svg"
                                                                  alt="Add to Basket" />
                                                          </button>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
                  <div class="view-more" (click)="onLoadMore()"><button data-test="viewMoreButtonProducts"
                          type="button"
                          class="clickable button clickable--theme-primary clickable--size-base clickable--color-blue clickable--animated clickable--bold-weight clickable--regular-font"><span
                              class="clickable-label">view more</span> <img aria-hidden="true"
                              src="../../assets/images/icon-arrow-right-white.svg" alt="arrow-right-white description"
                              class="img icon loaded"></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
