
<section class="about-section">
    <h2>Welcome to CheckLuxury for Engineering</h2>
    <p>
        CHECK LUXURY for Engineering is your go-to platform for finding the best deals on groceries and everyday essentials.
        Our mission is to empower consumers by providing accurate and up-to-date information on product prices across various supermarkets.
      </p>
      <p>
        At CHECK LUXURY for Engineering, we understand the importance of making informed decisions when it comes to shopping for your household.
        Our user-friendly platform allows you to compare prices, discover promotions, and save money on your grocery shopping.
      </p>
  </section>

  <section class="team-section">
    <h2>Our Team</h2>
    <div class="team-member">
      <img src="../../assets/images/owner.jpeg" alt="Team Member 1">
      <h3>Mohammed Afifi</h3>
      <p>Founder & CEO</p>
    </div>
    <div class="team-member">
      <img src="../../assets/images/muhammad_ali.jpeg" alt="Team Member 2">
      <h3>Muhammad Ali</h3>
      <p>Partner & Manager</p>
    </div>
    <!-- Add more team members as needed -->
  </section>