<section class="about-section">
  <h2 style="text-align: center;">Welcome to Yoma!</h2>
  <p>
    Yoma is a service powered by CHECK LUXURY for Engineering, your go-to platform for finding the best deals on
    groceries and everyday essentials. Our mission is to empower consumers by providing accurate and up-to-date
    information on product prices across various supermarkets.
  </p>
  <p>
    At CHECK LUXURY for Engineering, we understand the importance of making informed decisions when it comes to shopping
    for your household. Our user-friendly platform allows you to compare prices, discover promotions, and save money on
    your grocery shopping.
  </p>
</section>

<section class="team-section">
  <h2 style="text-align: center;">Our Team</h2>
  <div class="team-member">
    <img src="../../assets/images/owner.jpeg" alt="Team Member 1">
    <h3>Mohammed Afifi</h3>
    <p>Founder & CEO</p>
  </div>
  <div class="team-member">
    <img src="../../assets/images/rasha.jpg" alt="Team Member 2">
    <h3>Rasha Melegy</h3>
    <p>Chief AI Officer (CAIO)</p>
  </div>
  <div class="team-member">
    <img src="../../assets/images/sally.jpg" alt="Team Member 2">
    <h3>Sally Mohamed</h3>
    <p>Chief Technology Officer (CTO)</p>
  </div>
</section>
<section>
  <a class="clickable link footer-logo clickable--size-inline" href="#about"><img alt="Checkluxury logo description"
      class="img loaded" style="    max-width: 40%;" src="../../assets/images/CHECKLUXURY-MainLogo.png"></a>
</section>