<div>
    <ul class="grid grid--large-gutters" style="display: flex; justify-content: center;">
        <div class="header-divider">
            <div tabindex="0" style="display: flex; margin-top: 120px;">
                <h3 data-test="rewards&amp;coupons" class="title-3 divider-title list-title">rewards &amp; coupons
                </h3>
            </div>
        </div>
        <div class="main-section">
            <li class="grid-item" *ngFor="let product of products" style="padding: 35px 16px 51px;">
                <div class="layout coupons layout--stack-small layout--gutters">
                    <div class="layout--size-full">
                        <ul class="grid coupons-grid lock-icon grid--small-gutters">
                            <li class="grid-item" style="flex-grow: 0; width: 100%; flex-basis: auto;">
                                <div class="card detail-card coupon-detail-card lock-icon" style="min-width: 168px;">
                                    <span class="card-aspect-padding" style="padding-top: 132.143%;"></span>
                                    <div class="card-content"><a class="detail-card-link clickable--disabled"
                                            style="padding: 0;" data-test="productCardLink"
                                            href="/rewards-coupons/5012334">
                                            <div class="card-image" tabindex="-1" data-test="cardImage"><img
                                                    alt="{{product.name}}" class="img loaded"
                                                    src="../../assets/images/Products/{{product.coverImage}}">
                                            </div>

                                            <div>
                                                <div class="card-body">

                                                    <div class="pill-wrapper-hide"></div>
                                                    <h1 data-test="granulatedsugar"
                                                        class="title-3 detail-card-description"
                                                        style="margin-top: 25px;">
                                                        {{product.englishName}}
                                                    </h1>
                                                    <h1 data-test="granulatedsugar"
                                                        class="title-3 detail-card-description"
                                                        style="margin-top: 25px;">
                                                        {{product.arabicName}}
                                                    </h1>
                                                    <div class="stock-status-container">
                                                        <div class="stock-status-description unknownstock">
                                                            <div class="circle" aria-hidden="true">
                                                            </div>
                                                            <span data-test="UNKNOWNSTOCK"
                                                                class="title-4 stock-status-stock">*</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="container"
                                                    style="width: 215px; margin: 0; display: contents;">
                                                    <table class="product-table">
                                                        <thead>
                                                            <tr>
                                                                <th>SUPERMARKET</th>
                                                                <th>PRICE</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- Sample Product Row -->
                                                            <tr class="product-row"
                                                                *ngFor="let price of product.prices">
                                                                <td>{{price.supermarket.name}}</td>
                                                                <td>{{price.value}}&nbsp;EGP</td>
                                                            </tr>
                                                            <!-- Add more product rows as needed -->
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </a>
                                        <div class="card-actions"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </div>
        <div class="pagination-grid">
            <div class="view-more"><a
                    class="clickable link button clickable--theme-primary clickable--size-base clickable--color-blue clickable--bold-weight"
                    id="MkA2662oU0yYOAsoWSWQU" name="see all rewards &amp; coupons"
                    title="see all rewards &amp; coupons link" data-test="bannerLink"
                    (click)="onLoadMore()">Load More</a></div>
        </div>
    </ul>
</div>