
<div style="
    margin-left: 5%;
    margin-bottom: 5%; margin-top: 100px">
    <h2 style="color: brown; font-size: xxx-large; font-weight: bolder; margin-bottom: -35px;">Contact Us</h2>
    <br><br>
    <div style="margin-left: 3%; font-size: x-large;">
    </div>
    <div style="margin-left: 3%; font-size: xx-large; display: flex;">
        <p>Please contact us on the following for support:</p>
        &nbsp;
    </div>
    <div class="contact-container">
        <div class="contact-info" style="margin-bottom: 15%;">
            <!-- <p><span class="icon"><i class="fa fa-globe"></i></span>&nbsp;Group 61, Building 10, B6, Madinaty, Cairo, Egypt
            </p> -->
            <p><span class="icon"><i class="fa fa-envelope"></i></span>&nbsp;Email: Support&#64;CheckLuxury.com</p>
            <!-- <p><span class="icon"><i class="fa fa-mobile"></i></span>&nbsp;Phone: +2 (010) 613-54572</p> -->
            <p><span class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>&nbsp;WhatsApp: +2 (010) 613-54572
            </p>
        </div>
    </div>
</div>