  
  h1 {
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    margin-bottom: 20px;
  }
  
  li {
    display: inline-block;
  }
  
  a, .hrefStyle {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  a:hover, .hrefStyle:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  /* Admin Container */
  .admin-container {
    display: flex;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 315px;
    background-color: white;
    color:black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .sidebar a:hover {
    color: black;
  }
  
  /* Main Content Styles */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .main-content header {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-content section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .disabled-link {
    pointer-events: none; /* Disable click events */
    color: gray !important; /* Change color to indicate disabled state */
    text-decoration: none; /* Remove underline */
    cursor: not-allowed; /* Change cursor style */
  }
  

  