
                    <section id="home" class="mainbgsection">
                        <div class="layout-container">
                            <div>
                                <div class="cms-layout home-container cms-layout--width-full">
                                    <div class="slideshow hero-slideshow">
                                        <ul class="slideshow-slides">
                                            <li class="slideshow-slide active">
                                                <!-- <a
                                                    class="clickable link clickable--size-inline"
                                                    href="/specials?category=all-current"> -->
                                                <div class="hero">
                                                    <div class="hero-inner" style="    display: block; padding: 0px;"
                                                        data-test="homepageBanner">
                                                        <div style="display: flex;     justify-content: center;
                                                        justify-content: center;"><img style="    max-width: 109%;
                                                        height: 105%;
                                                        margin-top: 0%;
                                                        max-height: 100%;
                                                        position: absolute;
                                                    " src="assets/images/depositphotos_82310422-stock-photo-man-shopping-in-supermarket.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- </a> -->
                                            </li>
                                        </ul>
                                        <div class="banner banner--theme-blue banner-cms banner--content-right">
                                            <div class="new-banner">
                                                <div class="banner__content banner__left right-yellow">
                                                    <div class="banner__info" dir="rtl">
                                                        <h3 tabindex="0" aria-label="banner merry and bright savings"
                                                            class="title-3 banner__title" style="text-align: justify;">اهلا بكم في يوما - Yoma!</h3>
                                                        <p class="banner__body" tabindex="0">
                                                            اشترك اليوم في نشرتنا الإخبارية لتحصل على أحدث عروض وتخفيضات في
                                                            مقارنة الأسعار للسوبرماركت، واستمتع بتجربة تسوق ذكية وموفرة.
                                                        </p>
                                                        <div class="calls-to-action banner__actions"><a
                                                                class="clickable link button clickable--theme-primary clickable--size-base clickable--color-blue clickable--bold-weight"
                                                                id="4JJG9739kpHIbb5soZEqvD" name="join for free CTA"
                                                                title="join for free link" data-test="bannerLink"
                                                                [routerLink]="'/subscribe'">join for free</a><a
                                                                class="clickable link button clickable--theme-primary clickable--size-base clickable--color-blue clickable--bold-weight"
                                                                id="2LkubFrsTgED0IFHS9QeAB" name="learn more app CTA"
                                                                title="learn more link" data-test="bannerLink"
                                                                [routerLink]="'/know-subscribe'">اعرف المزيد</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                       
                                    <div class="card-section layout--size-auto layout--padded">
                                        <div class="header-divider">
                                            <div tabindex="0">
                                                <h3 data-test="rewards&amp;coupons" style="color: red;" class="title-3 divider-title">Products on SALE</h3>
                                            </div>
                                        </div>
                                        <div class="pagination-grid">
                                            <ul class="grid grid--large-gutters"
                                                style="display: flex; margin-left: 10px;">
                                                <app-rewards-program></app-rewards-program>
                                            </ul>
                                            <div class="view-more"><a
                                                    class="clickable link button clickable--theme-primary clickable--size-base clickable--color-blue clickable--bold-weight"
                                                    id="MkA2662oU0yYOAsoWSWQU" name="see all rewards &amp; coupons"
                                                    title="see all rewards &amp; coupons link" data-test="bannerLink"
                                                    [routerLink]="'/allrewards'">See all on Sale</a></div>
                                        </div>
                                    </div>
                                    <div class="banner banner--theme-blue banner-cms banner--content-right">
                                        <div class="new-banner">
                                            <!-- <div class="banner__content banner__left right-yellow">
                                        <div class="banner__info">
                                            <h3 tabindex="0" aria-label="banner more rewards are a download away!"
                                                class="title-3 banner__title">more rewards are a download away!</h3>
                                            <p class="banner__body" tabindex="0">Download the Checkluxury app and start
                                                winning rewards for your regular grocery runs. Just scan the app at
                                                checkout every time you shop.</p>
                                            <div class="calls-to-action banner__actions"><a id="3bpUm2vHHqMqCiqw6eSGyY"
                                                    name="download iPhone" title="Download on the App Store"
                                                    data-test="bannerMobileAppLink"
                                                    href="https://itunes.apple.com/us/app/mylidl/id1220932607?ls=1&amp;mt=8"
                                                    class="clickable link badge clickable--size-inline" target="_blank"
                                                    rel="noopener noreferrer"><img
                                                        data-src="//images.ctfassets.net/u41cm62nxtp7/5wD9zMvdrUMuEK8QYSgkwg/100812aec63f9f9b6c99b99f3de02825/icon-app-store-black.svg"
                                                        alt="Download on the App Store description"
                                                        aria-label="Download on the App Store" class="img"></a><a
                                                    id="1xCj3NjqacOeua2WQQKWOA" name="download Android"
                                                    title="Get it on Google Play" data-test="bannerMobileAppLink"
                                                    href="https://play.google.com/store/apps/details?id=com.lidl.android"
                                                    class="clickable link badge clickable--size-inline" target="_blank"
                                                    rel="noopener noreferrer"><img
                                                        data-src="//images.ctfassets.net/u41cm62nxtp7/2UQRInr0m4qkA8cOOiGGWg/6ffaf339d6a3a14c08ace7b4c539be62/icon-google-play-black.svg"
                                                        alt="Android badge description" aria-label="Android badge"
                                                        class="img"></a><a
                                                    class="clickable link button clickable--theme-primary clickable--size-base clickable--color-blue clickable--bold-weight"
                                                    id="35Y3OMvGt4UfwyCmjIRAOa" name="get rewarded"
                                                    title="get rewarded link" data-test="bannerLink"
                                                    href="/play-myCheckluxury">get rewarded</a></div>
                                        </div>
                                    </div> -->
                                            <div class="banner__content banner__right">
                                                <div class="banner__image img-curve"><img
                                                        data-src="//images.ctfassets.net/u41cm62nxtp7/4VBvY6sY7AyeARtW3KfQHM/480a32192f6b407e49c02b14697eebce/MicrosoftTeams-image__16_.png"
                                                        alt="special banner myCheckluxuryapp description"
                                                        aria-label="Checkluxury Grocery Store MyCheckluxury App Phone Screen + Logo"
                                                        class="img banner__image-small"><img
                                                        data-src="//images.ctfassets.net/u41cm62nxtp7/4VBvY6sY7AyeARtW3KfQHM/480a32192f6b407e49c02b14697eebce/MicrosoftTeams-image__16_.png"
                                                        alt="special banner myCheckluxuryapp description"
                                                        aria-label="Checkluxury Grocery Store MyCheckluxury App Phone Screen + Logo"
                                                        class="img banner__image-large"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <app-product></app-product> -->
                    </section>
                    <div class="Toastify"></div>
    