
<div class="layout-container" style="padding: 50px; text-align: center;">
  <div>
      <div class="layout search-detail-container layout--stack-small layout--gutters" style="display: block;">
          <div class="layout--size-full">
              <div class="header-divider">
                  <div tabindex="0">
                      <h3 data-test="searchresults" class="title-3 divider-title">search
                          results
                      </h3>
                  </div>
              </div>
          </div>
          <div class="category-filter__sidebar layout--size-small" style="text-align-last: center;">
              <div class="sticky-outer-wrapper">
                  <div class="sticky-inner-wrapper" style="position: relative; top: 0px;">
                      <div class="category-filter__wrapper">
                          <div class="category-filter__container">
                              <h3 class="title-3 category-filter__title">{{this.searchResult}}
                              </h3>
                              <a href="#list" class="skip-link category-skip-link">Skip to
                                  search
                                  results</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div id="list" class="layout--size-auto">
              <div style="color: red;">{{this.errorMessage}}</div>
              <div class="pagination-grid">
                  <ul class="grid grid--small-gutters main-section">
                      <li class="grid-item custom-styles" *ngFor="let product of products"
                          style="flex-grow: 0; flex-basis: auto;">
                          <div class="card detail-card product-detail-card"
                              style="min-width: 168px;">
                              <span class="card-aspect-padding"
                                  style="padding-top: 148.81%;"></span>
                              <div class="card-content">
                                  <div
                                      class="clickable link detail-card-link clickable--size-inline">
                                      <!-- <a
                                      class="clickable link detail-card-link clickable--size-inline"
                                      data-test="productCardLink" href="/products/1062761"> -->
                                      <div class="card-image" tabindex="-1"
                                          data-test="cardImage">
                                          <img
                                              alt="{{product.name}}"
                                              class="img loaded"
                                              src="../../assets/images/Products/{{product.coverImage}}">
                                      </div>
                                      <div class="card-body">

                                          <div class="pill-wrapper-hide"></div>
                                          <h1 data-test="granulatedsugar" class="title-3 detail-card-description" style="margin-top: 25px;">
                                              {{product.englishName}}
                                          </h1>
                                          <h1 data-test="granulatedsugar" class="title-3 detail-card-description" style="margin-top: 25px;">
                                              {{product.arabicName}}
                                          </h1>
                                          <div class="stock-status-container">
                                              <div
                                                  class="stock-status-description unknownstock">
                                                  <div class="circle" aria-hidden="true">
                                                  </div>
                                                  <span data-test="UNKNOWNSTOCK"
                                                      class="title-4 stock-status-stock">*</span>
                                              </div>
                                          </div>
                                      </div>


                                      <div class="container">
                                          <table class="product-table">
                                              <thead>
                                                  <tr>
                                                      <th>SUPERMARKET</th>
                                                      <th>PRICE</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <!-- Sample Product Row -->
                                                  <tr class="product-row"
                                                      *ngFor="let price of product.prices">
                                                      <td>{{price.supermarketName}}</td>
                                                      <td>{{price.value}}&nbsp;EGP</td>
                                                  </tr>
                                                  <!-- Add more product rows as needed -->
                                              </tbody>
                                          </table>
                                      </div>

                                  </div>
                                  <!-- </a> -->
                                  <!-- <div class="card-actions"><button
                                          data-test="addtolistButton" type="button"
                                          class="clickable button add-to-list clickable--theme-secondary clickable--size-full clickable--color-blue clickable--animated clickable--bold-weight clickable--regular-font"><span
                                              class="clickable-label">add to list</span> <img
                                              aria-hidden="true"
                                              src="/assets/icons/icon-plus-white.svg"
                                              alt="plus-white description"
                                              class="img icon loaded"></button></div> -->
                              </div>
                          </div>
                      </li>
                  </ul>
                  <div class="view-more" (click)="onLoadMore()"><button data-test="viewMoreButtonProducts"
                          type="button"
                          class="clickable button clickable--theme-primary clickable--size-base clickable--color-blue clickable--animated clickable--bold-weight clickable--regular-font"><span
                              class="clickable-label">view more</span> <img aria-hidden="true"
                              src="../../assets/images/icon-arrow-right-white.svg"
                              alt="arrow-right-white description"
                              class="img icon loaded"></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

